@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;400;700&display=swap');

@font-face {
    font-family: Bebas_Neue_Pro_Regular;
    src: url(assets/font/Bebas_Neue_Pro_Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Roboto', sans-serif;;
}

:root {
    --bg-clr-onepiece: #002C71;
    --transparente: rgba(82, 79, 79, 0.28);
    --forms: #F8B980;
    --txt-clr: white;
    --verde1: #435E64;
    --verde2: #203C41;
    --azul1: #0146B4;
    --azul2: #002054;
    --azul3: #001230;

}

h1 {
    font-size: 64px;
    font-family: 'Bebas_Neue_Pro_Regular';
    letter-spacing: 4px;
}

body {
    background-color: var(--bg-clr-onepiece);
    width: 100vw;
    height: 100vh;
    color: var(--txt-clr);
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 100%;
}

    .head {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 886px;
        padding: 0px 56px;
        background-image: url("./assets/desktop/hero-1.png");
        background-size: cover;

    }

        .header {
            display: flex;
            position: relative;
            width: 100%;
            height: 81px;
            margin-top: 10px;
            border-radius: 5px;

            background-image: url("./assets/desktop/One-Piece-Logo-1.png");
            background-repeat: no-repeat;
            background-position: 35px;
            background-color: var(--transparente);
            backdrop-filter: blur(2px);
        }

        .main-head {
            display: flex;
            flex-direction: column;
            position: relative;
            justify-content: space-around;
            text-align: center;
            width: 458px;
            height: 558px;
            margin-top: 135px;
            padding: 5px 56px 30px 56px;
            border-radius: 8px;
            background-color: var(--transparente);
            backdrop-filter: blur(25px);
        }

            .main-head hr {
                border: 2px solid var(--forms);
                border-radius: 10px;
                margin: 0 0px;

            }

                .main-head .info {
                    width: 350px;
                }

                .main-head h5 {
                    text-align: center;
                    font-size: 20px;
                    font-family: 'Roboto';
                    font-weight: 300;
                }

            .main-head label {
                display: flex;
                justify-content: center;
                width: 100%;
            }

            .main-head input#email {
                width: 100%;
                height: 50px;
                border-radius: 5px;
                border: 4px solid white;
                outline: none;

                font-size: 20px;
                padding: 0px 10px;
            }

            .main-head input#email:focus {
                border: 4px solid var(--forms);
            }

            button {
                width: 346px;
                height: 63px;
                border-radius: 15px;
                outline: none;
                border: none;

                font-size: 35px;
                font-family: 'Roboto';
                font-weight: 700;
                color: var(--txt-clr);
            }

            .main-head #btn-assinar {
                background-color: var(--forms);
            }

            .main-head #btn-assinar:hover{
                background-color: #B06A2C;
            }

            .main-head button:focus{
                background-color: #B06A2C;
            }

            .main-head label {
                display: flex;
                justify-content: space-around;
                padding: 0 45px;
            }

    
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 56px;
    }
    
    .historia {
        display: flex;
        position: relative;
        width: 100%;
        height: 235px;
        margin-top: 60px;
        background-color: #ED4B03;
        }

        .historia aside.texto {
            width: 100%;
            height: 100%;
            padding: 20px 585px 20px 20px;
            text-overflow: ellipsis;
        }

        h2 {
            font-size: 40px;
            font-family: 'Bebas_Neue_Pro_Regular';
            letter-spacing: 4px;
        }

        .historia h5 {
            font-size: 17px;
            font-weight: 400;
            font-family: 'Roboto';
            overflow-y: auto;
            height: 130px;
            flex-wrap: wrap;
        }

        .historia h5::-webkit-scrollbar { 
            display: none;
        }

        .historia aside img {
            position: absolute;
            top: -260px;
            right: 0;
        }

    
    .personagens {
        width: 100%;
        height: 713px;
        display: flex;
        justify-content: space-around;
        padding: 232px 56px 0;
    }

        .personagens .character {
            display: flex;
            justify-content: center;
            align-items: end;
            width: 288px;
            height: 481px;
            cursor: pointer;
        }

            .hide-char {
                display: none!important;
            }

        .personagens .character:nth-child(1) {
            background-color: var(--azul1);
        }
        
        .personagens .character img {
            position: absolute;
                top: 1350px;
            }
            
            .personagens .character:nth-child(1) img {
                width: 290px;
            }

        .personagens .character#luffy {
            background-color: var(--azul2);
        }

        .personagens .character#usopp {
            background-color: var(--azul3);
        }

        .personagens .character-solo {
            flex-direction: row;
            justify-content: start;
            width: 100%;
            display: flex;
            align-items: first baseline;
        }

            #zoro-desc {
                background-color: var(--azul1);
            }

            #luffy-desc {
                background-color: var(--azul2);
            }

            #usopp-desc {
                background-color: var(--azul3);
            }

            .character-solo img {
                width: 290px;
            }

            .personagens .character-solo .text-person {
                display: flex;
                flex-direction: column;
                width: fit-content;
                height: 430px!important;
                padding: 50px 0px 0 300px;
            }

            .text-person h5 {
                margin-top: 20px;
                font-size: 20px;
                overflow-y: auto;
            }

            .text-person h5::-webkit-scrollbar { 
                display: none;
            }

        .character-solo #fechar {
            position: relative;
            top: -40px;
            width: 56px;
            height: 100%;
        }

        .character-solo #fechar img#fechar-btn {
            position: relative;
            top: 0;
            width: 40px!important;
            cursor: pointer;
        }


    .galeria {
        width: 100%;
        height: 100%;
        text-align: center;
        margin-top: 100px;
        position: relative;
        overflow: hidden;
    }

        .galeria .wallpaper {
            display: flex;
            position: relative;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: max-content;
            overflow: hidden;
        }

        .mySlides {
            display: none!important;
        }

            .galeria h2 {
                width: 100%;
                height: 68px;
            }

            .galeria .wallpaper img {
                width: 90%;
                max-height: 697.5px;
                display: flex;
                align-items: center;
                justify-content: center;
                vertical-align: middle;
                /* padding-top: 20px; */
            }

            .prev, .next {
                cursor: pointer;
                width: 5%;
                height: 200px;
                padding: 5px;
                padding-top: 80px;
                transition: 0.6s ease;
                user-select: none;

                color: white;
                font-weight: bold;
                font-size: 30px;
            }

            .prev:hover, .next:hover {
                background-color: rgba(0,0,0,0.8);
            }

            .prev {
                border-radius: 5px 0 0 5px;
            }

            .next {
                border-radius: 0 5px 5px 0;
            }

    .zoro-sola {
        width: 90%;
        height: 602px;
        padding: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: black;
        margin: 50px 0px 0 0;
    }

        .zoro-sola .zoro {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: var(--azul1);
            padding: 0 56px;
        }

            .zoro #zoro-duelo {
                display: flex;
                justify-content: center;
                width: 100%;
                background: #ED4B03;
            }

            .zoro #zoro-duelo img {
                width: 500px;
            }

            .zoro #duelo {
                display: flex;
                justify-content: center;
                /* justify-content: space-around; */
                align-items: center;
                height: 100%;
                width: 100%;
                background-color: green;
                text-align: center;
            }

            #duelo img {
                width: 300px;
            }

            #atributos {
                text-align: end;
                padding-right: 30px;
                /* background-color: pink; */
            }

            #duelo #versus img {
                width: 200px;
                background-color: orange;
            }

            
            .zoro-sola button#btn-sortear {
                background-color: var(--azul2)!important;
            }

            .zoro-sola button#btn-sortear:hover {
                background-color: var(--azul3)!important;
                cursor: pointer;
            }

            .zoro-sola button:focus{
                background-color: var(--azul3)!important;
            }